.about {
    @media (max-width: 1200px) {
        margin: 0 19px 19px;
        align-items: center;
    }

    @media (max-width: 767px) {
        margin: 0 19px 19px;
        align-items: center;
    }
}