.home {
    max-width: 1440px;
    margin: auto;
    padding: 19px;
    box-sizing: border-box;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    row-gap: 50px;
    column-gap: 60px;
    padding : 56px 50px 43px;
    margin-top: 43px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #F6F6F6; 


    @media (max-width: 767px) {
        background-color: white;
        padding: 0;
    }

    & li {
        width: calc((100% - 150px) / 3);
    
        @media (max-width: 1200px) {
            width: calc((100% - 60px) / 2);
        }
    
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}
