$main-height: auto;

.collapse {
    margin: auto;
    font-family: "Montserrat";
    width: 1023px;
    margin-bottom: 15px;
    margin-top:30px;

    @media (max-width: 1270px) {
        width: 100%;
    }

    @media (max-width: 767px) {
        width: 100%;
        margin-top: 15px;
    }

    &__title {
        background-color: #FF6060;
        color: #FFF;
        font-size: 24px;
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        @media (max-width: 767px) {
            height: 30px;
            box-sizing: border-box;
            padding: 10px;
        }

        & h2{
            margin: 0;

            @media (max-width: 1270px) {
                font-size: 20px;
            }

            @media (max-width: 767px) {
                font-size: 13px;
                font-weight: 700;
            }
        }
    }
    &__icon {
        transition: transform 0.4s;

        &--rotated {
            transform: rotate(180deg);
        }
    }

    &__text-box {
        padding: 0px 20px 0px 15px;
        color: #FF6060;
        background-color: #F6F6F6;
        overflow: hidden;
        transition: transform 1s;
        transform-origin: 0% top;
        transform: scaleY(1);

        @media (max-width: 767px) {
            font-size: 12px;
        }
        
        & li {
            list-style-type:none;
            gap: 10px;
        }

        &__text {
            transform: scaleY(0);
        }
    }
}