$main-color: #FF6060;

.nav {
    display: flex;
    justify-content: space-between;
    margin: 45px auto 50px;
    box-sizing: border-box;
    padding: 19px;
    width: 100%;
    max-width: 1440px;

    @media (max-width: 767px) {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    &__list {
        display:flex;
        align-items: center;
        gap: 30px;
        color: $main-color;
        font-family: 'Montserrat';
        font-size: 1.5rem; 

        @media (max-width: 767px) {
            font-size: 0.75rem;
            text-transform: uppercase;
            align-items: center;
        }

        &__link {
            color: $main-color;
            text-decoration: none;
            text-align: right;
    }           
        & a.active {
            text-decoration: underline;
        }
    }
    
}

