.Error {
    color: #FF6060;
    font-family: 'Montserrat';
    text-align: center;
    margin-bottom: 139px;
}

h1 {
    font-size: 288px;
    font-weight: 700;
    margin: 139px auto 139px;
}

.Error > p {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 139px;
}

.Error > a {
    color: #FF6060;
    font-size: 18px;
}